:root {
  --backgroundGrey: rgb(32, 38, 51);
  --boxBlack: #121414;
  --textWhite: #fff;
  --hoverGrey: rgb(81, 81, 81);
  --modalWhite: rgb(212, 212, 212);
}

body {
  font-family: "poppins", Courier, monospace;
  background-color: var(--backgroundGrey);
  color: var(--textWhite);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
  padding: 1rem 3rem;
  position: sticky;
  top: 0;
  z-index: 0;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1rem;
}

.logo img {
  height: 30px;
  width: auto;
  object-fit: contain;
}

#box {
  width: 5rem;
  height: 2rem;
  max-height: 2rem;
}

#box.active {
  max-height: 2rem;
}

.hidden {
  display: none;
}

.nav {
  display: flex;
  gap: 2.5rem;
}

.nav a {
  color: var(--textWhite);
  text-decoration: none;
  font-size: 1rem;
}

.nav a:hover {
  color: var(--hoverGrey);
}

.clock {
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  background-color: var(--boxBlack);
}

.nextYear {
  text-align: center;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--boxBlack);
  padding-bottom: 1rem;
}

.gameBlocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  padding: 3rem;
  justify-items: center;
}

.game-block {
  width: 100%;
  max-width: 360px;
  background-color: var(--boxBlack);
  border-radius: 14px 14px;
  box-shadow: 0 0 8px black;
  cursor: pointer;
}

.game-block img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.game-block h2 {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 1rem 0.5rem 1rem;
  color: var(--textWhite);
}

.game-block h3 {
  font-size: 0.9rem;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
  margin: 0 1rem 1rem 1rem;
  color: var(--textWhite);
}

.info {
  padding: 1rem;
  font-size: 1rem;
}

.info-panel {
  position: fixed;
  right: -500%;
  width: 950px;
  height: 1000px;
  font-family: "Courier New", Courier, monospace;
  background-color: var(--modalWhite);
  color: var(--boxBlack);
  padding: 3rem;
  top: 0;
  overflow-y: auto;
  transition: right 0.6s ease-in-out;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 1.5rem;
}

.info-panel.active {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: flex-start;
  right: 0;
  position: fixed;
  background: var(--textWhite);
  padding: 2rem;
}

.info-panel .info-content {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}

.info-panel .info-content img {
  width: 50%;
  height: 250px;
  object-fit: cover;
}

.info-panel .text {
  width: 50%;
}

.info-panel h3 {
  font-size: 1rem;
  grid-column: 2;
  grid-row: 1;
}

.info-panel h2 {
  font-size: 2rem;
  margin: 0.5rem 0 1rem;
  grid-column: 2;
  grid-row: 2;
}

.info-panel p {
  grid-column: 2;
  grid-row: 4;
  font-size: 1rem;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  border: none;
  background: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--hoverGrey);
}

.close-btn:hover {
  color: black;
}

.modal {
  position: fixed;
  inset: 0;
  background: black;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-in-out;
  z-index: 0;
}

.modal.active {
  opacity: 0.6;
  pointer-events: auto;
}

@media (max-width: 480px) {
  .info-panel {
    right: -100%;
    width: 650px;
    height: 950px;
    display: block;
  }

  .info-panel.active {
    display: block;
  }

  .info-panel .info-content {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
  }

  .info-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .info-panel .text {
    width: 40%;
    margin-left: -0.8rem;
  }

  .info-panel .info-content img {
    width: 40%;
    height: auto;
    margin-left: -0.8rem;
  }

  .close-btn {
    position: absolute;
    top: -0.5rem;
    left: -8.8rem;
  }
}
